@import url("https://use.typekit.net/xer3mak.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: stratos-lights, sans-serif;
}

p {
  @apply leading-6;
}

.container {
  @apply mx-auto my-0;
}

.section {
  @apply h-full lg:rounded-b-[100px];
}

.banner {
  @apply bg-[url('/hero.svg')] bg-no-repeat bg-cover bg-[left_center] pt-0;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* CUSTOM SCROLLBAR */

/* width */

::-webkit-scrollbar {
 @apply w-[10px]
}

/* Track */

::-webkit-scrollbar-track {
  @apply  bg-white;
}

/* Handle */

::-webkit-scrollbar-thumb {
  @apply  bg-muted-salmon;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  @apply bg-black;
}
